{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .section--{{ section.id }} {
    position:relative;
    z-index:2
  }

  .image-fit-size {width:100%;height:auto}
  .modal---title {font-size:1.6rem;margin-left:10px;font-weight:bold;margin-top:5px}
  .modal---header {border-color:rgb(211 211 211 / 30%)}
  .modal---txt-tit {font-size:1.6rem;font-weight:bold;margin-top:40px}
  .modal---list-dl {margin-top:20px}
  .modal---list-dl dt{font-size:1.4rem}
  .modal---list-dl dd{font-size:1.4rem}
  .modal---txt-descrip {font-size:1.2rem}
  .modal---body{padding:15px 20px}
  .modal---content {border-radius:0 !important}
  .modal---table {margin-top:20px}
{% endstyle %}

<div class="page-inner-width .product--detail-{{ section.id }} section--{{ section.id }} section-{{ section.id }}-padding">
  {%- for block in section.blocks -%}
    {% case block.type %}
      {% when 'single_image' %}
        <div class="row mb-3">
          <div class="col-12 col-sm-12">
            <div class="overlay---bg">
              {%- if block.settings.description_single_image != blank -%}
                {{ block.settings.description_single_image | image_url: width: 600 | image_tag }}
                <div class="wrap--text {% if block.settings.show_single_text_content_01 %} d-block {% else %} d-none{% endif %}">
                  <div
                    class="inner--text txt--heading--{{ block.settings.box_align }}"
                  >
                    <div
                      class="text--content"
                      style="
                        background-color: {{ block.settings.image_overlay_bg }};
                        opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
                        border:solid .1rem {{ block.settings.image_overlay_border }}
                      "
                    >
                      <h2 class="title--content fw-bold">{{ block.settings.txt_heading }}</h2>
                      <p class="descrip--content">{{ block.settings.txt_description }}</p>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% when 'couple_image' %}
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="overlay---bg">
              {%- if block.settings.description_couple_image_01 != blank -%}
                {{ block.settings.description_couple_image_01 | image_url: width: 600 | image_tag }}

                <div
                  class="wrap--text {% if block.settings.show_text_content_01 %} d-block {% else %} d-none{% endif %}"
                >
                  <div class="inner--text txt--heading--{{ block.settings.box_align_couple_01 }}">
                    <div
                      class="text--content"
                      style="
                        background-color: {{ block.settings.image_overlay_bg_couple_image_01 }};
                        opacity: {{ block.settings.image_overlay_opacity_image_01 | divided_by: 100.0 }};
                        border:solid .1rem {{ block.settings.image_overlay_border_image_01 }}
                      "
                    >
                      {% if block.settings.txt_heading_01 != blank %}
                        <h2 class="title--content fw-bold">{{ block.settings.txt_heading_01 }}</h2>
                      {% endif %}
                      {% if block.settings.txt_description_01 != blank %}
                        <p class="descrip--content">{{ block.settings.txt_description_01 }}</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="overlay---bg">
              {%- if block.settings.description_couple_image_02 != blank -%}
                {{ block.settings.description_couple_image_02 | image_url: width: 600 | image_tag }}
                <div class="wrap--text {% if block.settings.show_text_content_02 %} d-block {% else %} d-none{% endif %}">
                  <div class="inner--text txt--heading--{{ block.settings.box_align_couple_02 }}">
                    <div
                      class="text--content"
                      style="
                        background-color: {{ block.settings.image_overlay_bg_couple_image_02 }};
                        opacity: {{ block.settings.image_overlay_opacity_image_02 | divided_by: 100.0 }};
                        border:solid .1rem {{ block.settings.image_overlay_border_image_02 }}
                      "
                    >
                      {% if block.settings.txt_heading_02 != blank %}
                        <h2 class="title--content fw-bold">{{ block.settings.txt_heading_02 }}</h2>
                      {% endif %}
                      {% if block.settings.txt_description_02 != blank %}
                        <p class="descrip--content">{{ block.settings.txt_description_02 }}</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
    {% endcase %}
  {% endfor %}
</div>

<div
  class="modal modal-lg"
  id="modal-size---{{ product.metafields.custom.product_number }}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  style="
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    background:rgb(49 49 49 / 70%);
  "
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content modal---content">
      <div
        class="modal-header modal---header"
      >
        <h1 class="modal-title modal---title" id="exampleModalLabel">サイズガイド</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background:none">
          <span style="position:relative;top:-5px">{% render 'icon-close' %}</span>
        </button>
      </div>
      <div class="modal-body modal---body">
        {%- if product -%}
          {% render 'card-product-size',
            card_product: product,
            media_aspect_ratio: section.settings.image_ratio,
            image_shape: section.settings.image_shape,
            show_secondary_image: section.settings.show_secondary_image,
            show_vendor: section.settings.show_vendor,
            show_rating: section.settings.show_rating,
            section_id: section.id,
            quick_add: section.settings.quick_add
          %}
        {% endif %}

        <div class="row">
          <div class="col-md-6 col-12">
            <h2 class="modal---txt-tit">計測方法</h2>
            <dl class="modal---list-dl">
              {%- if section.settings.clothes_type == 'shirt' -%}
                <dt>肩幅</dt>
                <dd>肩先の頂点縫い目を直線計測した長さ</dd>
                <dt>胸囲</dt>
                <dd>両袖の付け根下の直線距離を計測した長さ×2(胸囲は身幅×2)</dd>
                <dt>袖丈</dt>
                <dd>肩先の頂点縫い目から袖口先までを直線計測した長さ</dd>
                <dt>着丈</dt>
                <dd>後身頃中央の襟付け根縫い目から裾までを直線計測した長さ</dd>
              {% endif %}
              {%- if section.settings.clothes_type == 'short' -%}
                <dt>ウエスト</dt>
                <dd>ウエスト</dd>
                <dt>総丈</dt>
                <dd>ウエストベルト上端から裾までを外側の縫い目に沿って計測した長さ</dd>
                <dt>裾幅</dt>
                <dd>パンツ裾の両端を直線計測した長さ×2。 折り目のついたズボンは折り目に沿って自然に広げて計測する。</dd>
              {% endif %}
              {%- if section.settings.clothes_type == 'pants' -%}
                <dt>ウエスト</dt>
                <dd>ウエスト</dd>
                <dt>前股上</dt>
                <dd>ウエストベルト脇の上端から内股合わせ部分までの直線距離を計測した長さ</dd>
                <dt>股下</dt>
                <dd>内股合わせから内股の縫い目に沿った裾までの直線距離を計測した長さ</dd>
                <dt>総丈</dt>
                <dd>ウエストベルト上端から裾までを外側の縫い目に沿って計測した長さ</dd>
                <dt>裾幅</dt>
                <dd>パンツ裾の両端を直線計測した長さ×2。 折り目のついたズボンは折り目に沿って自然に広げて計測する。</dd>
              {% endif %}
            </dl>
          </div>

          <div class="col-md-6 col-12">
            {{ section.settings.size_image | image_url: width: 600 | image_tag: class: 'image-fit-size' }}
          </div>
        </div>
        <h2 class="modal---txt-tit">商品実寸</h2>

        <div class="modal---table">{{ section.settings.size_html }}</div>
        <p class="modal---txt-descrip">
          ブランドによってサイズと裁断が異なりますので、提示されたサイズ変換チャートは一般的な目安としてご利用ください。
        </p>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "product detail",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "clothes_type",
      "options": [
        {
          "value": "shirt",
          "label": "shirt"
        },
        {
          "value": "short",
          "label": "short"
        },
        {
          "value": "pants",
          "label": "pants"
        }
      ],
      "default": "shirt",
      "label": "shirt"
    },
    {
      "type": "image_picker",
      "id": "size_image",
      "label": "size image"
    },
    {
      "type": "html",
      "id": "size_html",
      "label": "size html"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "t:sections.main-product.blocks.text.settings.text.default",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "single_image",
      "name": "single image",
      "settings": [
        {
          "type": "image_picker",
          "id": "description_single_image",
          "label": "description_image_01"
        },
        {
          "type": "color",
          "id": "image_overlay_bg",
          "label": "image_overlay_bg",
          "default": "#FDFFD6"
        },
        {
          "type": "color",
          "id": "image_overlay_border",
          "label": "image_overlay_border",
          "default": "#000000"
        },

        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "image_overlay_opacity",
          "default": 80
        },
        {
          "type": "checkbox",
          "id": "show_single_text_content_01",
          "label": "show_single_text_content_01",
          "default": true
        },
        {
          "type": "inline_richtext",
          "id": "txt_heading",
          "default": "商品名",
          "label": "product description"
        },
        {
          "type": "inline_richtext",
          "id": "txt_description",
          "default": "商品の説明",
          "label": "product description"
        },
        {
          "type": "select",
          "id": "box_align",
          "options": [
            {
              "value": "top-left",
              "label": "top-left"
            },
            {
              "value": "top-center",
              "label": "top-center"
            },
            {
              "value": "top-right",
              "label": "top-right"
            },
            {
              "value": "middle-left",
              "label": "middle-left"
            },
            {
              "value": "middle-center",
              "label": "middle-center"
            },
            {
              "value": "middle-right",
              "label": "middle-right"
            },
            {
              "value": "bottom-left",
              "label": "bottom-left"
            },
            {
              "value": "bottom-center",
              "label": "bottom-center"
            },
            {
              "value": "bottom-right",
              "label": "bottom-right"
            }
          ],
          "default": "middle-left",
          "label": "box align",
          "info": "box align"
        }
      ]
    },
    {
      "type": "couple_image",
      "name": "couple image",
      "settings": [
        {
          "type": "image_picker",
          "id": "description_couple_image_01",
          "label": "description_couple_image_01"
        },
        {
          "type": "color",
          "id": "image_overlay_bg_couple_image_01",
          "label": "image_overlay_bg_couple_image_01",
          "default": "#FDFFD6"
        },
        {
          "type": "color",
          "id": "image_overlay_border_image_01",
          "label": "image_overlay_border_image_01",
          "default": "#000000"
        },
        {
          "type": "checkbox",
          "id": "show_text_content_01",
          "label": "show_text_content",
          "default": true
        },
        {
          "type": "range",
          "id": "image_overlay_opacity_image_01",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "image_overlay_opacity_image_01",
          "default": 80
        },
        {
          "type": "inline_richtext",
          "id": "txt_heading_01",
          "default": "商品名",
          "label": "txt_heading_01"
        },
        {
          "type": "inline_richtext",
          "id": "txt_description_01",
          "default": "商品の説明",
          "label": "txt_description_01"
        },
        {
          "type": "select",
          "id": "box_align_couple_01",
          "options": [
            {
              "value": "top-left",
              "label": "top-left"
            },
            {
              "value": "top-center",
              "label": "top-center"
            },
            {
              "value": "top-right",
              "label": "top-right"
            },
            {
              "value": "middle-left",
              "label": "middle-left"
            },
            {
              "value": "middle-center",
              "label": "middle-center"
            },
            {
              "value": "middle-right",
              "label": "middle-right"
            },
            {
              "value": "bottom-left",
              "label": "bottom-left"
            },
            {
              "value": "bottom-center",
              "label": "bottom-center"
            },
            {
              "value": "bottom-right",
              "label": "bottom-right"
            }
          ],
          "default": "middle-left",
          "label": "box align",
          "info": "box align"
        },
        {
          "type": "image_picker",
          "id": "description_couple_image_02",
          "label": "description_couple_image_02"
        },
        {
          "type": "color",
          "id": "image_overlay_bg_couple_image_02",
          "label": "image_overlay_bg_couple_image_02",
          "default": "#FDFFD6"
        },
        {
          "type": "color",
          "id": "image_overlay_border_image_02",
          "label": "image_overlay_border_image_02",
          "default": "#000000"
        },
        {
          "type": "checkbox",
          "id": "show_text_content_02",
          "label": "show_text_content",
          "default": true
        },
        {
          "type": "range",
          "id": "image_overlay_opacity_image_02",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "image_overlay_opacity_image_02",
          "default": 80
        },
        {
          "type": "inline_richtext",
          "id": "txt_heading_02",
          "default": "商品名",
          "label": "txt_heading_02"
        },
        {
          "type": "inline_richtext",
          "id": "txt_description_02",
          "default": "商品の説明",
          "label": "txt_description_02"
        },

        {
          "type": "select",
          "id": "box_align_couple_02",
          "options": [
            {
              "value": "top-left",
              "label": "top-left"
            },
            {
              "value": "top-center",
              "label": "top-center"
            },
            {
              "value": "top-right",
              "label": "top-right"
            },
            {
              "value": "middle-left",
              "label": "middle-left"
            },
            {
              "value": "middle-center",
              "label": "middle-center"
            },
            {
              "value": "middle-right",
              "label": "middle-right"
            },
            {
              "value": "bottom-left",
              "label": "bottom-left"
            },
            {
              "value": "bottom-center",
              "label": "bottom-center"
            },
            {
              "value": "bottom-right",
              "label": "bottom-right"
            }
          ],
          "default": "middle-left",
          "label": "box align",
          "info": "box align"
        }
      ]
    },

    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },

    {
      "type": "custom_liquid",
      "name": "t:sections.custom-liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.custom-liquid.settings.custom_liquid.label",
          "info": "t:sections.custom-liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "t:sections.main-product.blocks.collapsible_tab.settings.heading.default",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "t:sections.main-product.blocks.popup.settings.link_label.default",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "icon-with-text",
      "name": "t:sections.main-product.blocks.icon_with_text.name",
      "settings": [
        {
          "type": "select",
          "id": "layout",
          "options": [
            {
              "value": "horizontal",
              "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.options__1.label"
            },
            {
              "value": "vertical",
              "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.options__2.label"
            }
          ],
          "default": "horizontal",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.icon_with_text.settings.content.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.content.info"
        },
        {
          "type": "select",
          "id": "icon_1",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "heart",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_1.label"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_1.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_1",
          "default": "t:sections.main-product.blocks.icon_with_text.settings.heading_1.default",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_1.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },
        {
          "type": "select",
          "id": "icon_2",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "return",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_2.label"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_2.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_2",
          "default": "t:sections.main-product.blocks.icon_with_text.settings.heading_2.default",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_2.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },
        {
          "type": "select",
          "id": "icon_3",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "truck",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_3.label"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_3.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_3",
          "default": "t:sections.main-product.blocks.icon_with_text.settings.heading_3.default",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_3.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "product detail",
      "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
